n8n-http-request-workflow.json
{
  "name": "AI Chat HTTP Request Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ai-chat-trigger"
    },
    {
      "parameters": {
        "url": "https://your-worker-domain.workers.dev/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message || 'Hello, how can I help you today?' }}"
            },
            {
              "name": "model",
              "value": "={{ $json.model || 'gpt-5-nano' }}"
            },
            {
              "name": "stream",
              "value": "={{ $json.stream || false }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request-to-api",
      "name": "Send to AI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"original_message\": $('Webhook Trigger').item.json.message,\n  \"ai_response\": $('Send to AI API').item.json.message,\n  \"model_used\": $('Send to AI API').item.json.model,\n  \"timestamp\": $('Send to AI API').item.json.timestamp,\n  \"processing_time\": $now\n} }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $('Send to AI API').item.json.error,\n  \"original_message\": $('Webhook Trigger').item.json.message,\n  \"timestamp\": $now\n} }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-check",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [580, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send to AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AI API": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "ai-chat-http-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
