n8n-simple-workflow.json
{
  "name": "AI Chat Simple Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test/1d2a2e0c-3a12-4c72-9efd-174d67247e1a",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "webhook-test/1d2a2e0c-3a12-4c72-9efd-174d67247e1a"
    },
    {
      "parameters": {
        "url": "https://chat-gpt-api.pages.dev/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message || 'Hello from n8n!' }}"
            },
            {
              "name": "model",
              "value": "={{ $json.model || 'gpt-5-nano' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request-to-api",
      "name": "Send to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"original_message\": $('Webhook Trigger').item.json.message,\n  \"ai_response\": $('Send to API').item.json.message,\n  \"model_used\": $('Send to API').item.json.model,\n  \"timestamp\": $('Send to API').item.json.timestamp\n} }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to API": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "ai-chat-simple-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
