n8n-complete-workflow.json
{
  "name": "AI Chat Complete Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-test/1d2a2e0c-3a12-4c72-9efd-174d67247e1a",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "webhook-test/1d2a2e0c-3a12-4c72-9efd-174d67247e1a"
    },
    {
      "parameters": {
        "url": "https://chat-gpt-api.pages.dev/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message || 'Hello from n8n!' }}"
            },
            {
              "name": "model",
              "value": "={{ $json.model || 'gpt-5-nano' }}"
            },
            {
              "name": "stream",
              "value": "={{ $json.stream || false }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request-to-api",
      "name": "Send to Cloudflare API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-check",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"original_message\": $('Webhook Trigger').item.json.message,\n  \"ai_response\": $('Send to Cloudflare API').item.json.message,\n  \"model_used\": $('Send to Cloudflare API').item.json.model,\n  \"timestamp\": $('Send to Cloudflare API').item.json.timestamp,\n  \"processing_time\": $now,\n  \"source\": \"n8n-workflow\"\n} }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $('Send to Cloudflare API').item.json.error,\n  \"original_message\": $('Webhook Trigger').item.json.message,\n  \"timestamp\": $now,\n  \"source\": \"n8n-workflow\"\n} }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "set",
        "values": {
          "values": [
            {
              "name": "webhook_data",
              "value": "={{ $json }}"
            },
            {
              "name": "processed_at",
              "value": "={{ $now }}"
            },
            {
              "name": "workflow_id",
              "value": "ai-chat-complete-workflow"
            }
          ]
        },
        "options": {}
      },
      "id": "log-webhook-data",
      "name": "Log Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [350, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "values": {
          "values": [
            {
              "name": "api_response",
              "value": "={{ $json }}"
            },
            {
              "name": "response_received_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-api-response",
      "name": "Log API Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [570, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook Data": {
      "main": [
        [
          {
            "node": "Send to Cloudflare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Cloudflare API": {
      "main": [
        [
          {
            "node": "Log API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log API Response": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "ai-chat-complete-workflow",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "vn.n8n.asia"
  }
}
